<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Vue</title>
  <!-- 引入vue -->
  <script type="text/javascript" src="../JS/vue.js"></script>
</head>
<body>
  <!-- 
    Vue.set 的使用

        Vue.set(target，propertyName/index，value) 或

        vm.$set(target，propertyName/index，value)

        用法：

        向响应式对象中添加一个 property，并确保这个新 property 同样是响应式的，且触发视图更新。
        它必须用于向响应式对象上添加新 property，因为 Vue 无法探测普通的新增 property 
        (比如 vm.myObject.newProperty = 'hi')

  总结：
    Vue监视数据的原理：
      vue会监视data中所有层次的数据
      如何监测对象中的数据？
      通过setter实现监视，且要在new Vue时就传入要监测的数据。
      对象中后追加的属性，Vue默认不做响应式处理
      如需给后添加的属性做响应式，请使用如下API：

      Vue.set(target，propertyName/index，value) 或

      vm.$set(target，propertyName/index，value)

      如何监测数组中的数据？
      通过包裹数组更新元素的方法实现，本质就是做了两件事：

      调用原生对应的方法对数组进行更新
      重新解析模板，进而更新页面
      在Vue修改数组中的某个元素一定要用如下方法：

      使用这些API:push()、pop()、shift()、unshift()、splice()、sort()、reverse()
      Vue.set() 或 vm.$set()
      特别注意：Vue.set() 和 vm.$set() 不能给vm 或 vm的根数据对象 添加属性！！！

 -->

  <!-- 准备好一个容器 -->
  <div id="root">
    <h2>学生信息</h2>

    <Button>年龄+1岁</Button><br/>
    <Button>添加性别属性，默认值：男</Button><br/>
    <Button>在列表首位添加一个朋友</Button><br/>
    <Button>修改第一个朋友的名字为：张三</Button><br/>
    <Button>年龄+1岁</Button><br/>
    <Button>年龄+1岁</Button><br/>
    
    <h2>姓名:{{student.name}}</h2>
    <h2>年龄：{{student.age}}</h2>
    <h2 v-if="student.sex">性别:{{student.sex}}</h2>
    <h2>爱好</h2>
    <ul>
      <l1 v-for="(h,index) in hobby":key="index">
        {{h}}
      </l1>
    </ul>
    <h2>py</h2>
    <ul>
      <li v-for="(f,index) in friend":key="index">
        {{f.name}}-{{f.age}}
      </li>
    </ul>
  </div>
  
  <script type="text/javascript">
    Vue.config.productionTip = false
    //阻止vue在启动时生成生产提示
    const vm = new Vue({
      el:'#root',
      data:{
          student:{
            name:'jj',
          age:{
            rAge:40,
            sAge:18
          }
        },
        hobby:['学习','打游戏','xx'],
        friend:[
            {name:'jerry',age:35},
            {name:'tony',age:36}
          ] 
       
      },
    

    })
  </script>
</body>
</html>